body {
    font-family: Arial,sans-serif;
}

#header {
    background-color: #5a1e82;
}

div.breadcrumbs {
    background-color: #8539b8;
}

.module h2, .module caption, .inline-group h2 {
    background-color: #5a1e82;
    background: #5a1e82;
}

a:link, a:visited {
    color: #4c4c4c;
}

.app-verificacao input[name="_continue"] {
    display: none;
}

.model-verificação input[name="_addanother"] {
    display: none;
}

.model-verificação input[name="_save"] {
    display: none;
} 

button#_verificar {
    margin-bottom: 2em;
    background: #5a1e82;
    font-size: 1.2em;
    font-weight: bolder;
    font-family: Arial;
    font-weight: bolder;
    color: white;
    padding: 10px;
    float: left;
    border-radius: 5px;
    border: none;
}

button#_verificar:hover {
    background-color: #b082cf;
    color: white;
}

form .submit-row {
    background: #ffffff;
    border: none;
    padding: 0px;
}

div#response_verification {
    display: block;
    margin-top: 2em;
    background: #f8f8f8;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    color: black;
    height: 20em;
    width: 100%;
}

p#response_verification_text {
    padding: 10px;
    color: #4c4c4c;
}
