body {
    font-family: Arial,sans-serif;
}

#header {
    background-color: #5a1e82;
}

div.breadcrumbs {
    background-color: #8539b8;
}

.module h2, .module caption, .inline-group h2 {
    background-color: #5a1e82;
    background: #5a1e82;
}

a:link, a:visited {
    color: #4c4c4c;
}

.app-verificacao input[name="_continue"] {
    display: none;
}

.model-verificação input[name="_addanother"] {
    display: none;
}

.model-verificação input[name="_save"] {
    display: none;
} 

button#_verificar {
    background: #5a1e82;
    font-size: 1.2em;
    font-weight: bolder;
    font-family: Arial;
    font-weight: bolder;
    color: white;
    padding: 10px;
    float: left;
    border-radius: 5px;
    border: none;
}

form .submit-row {
    float: left;
    background: #ffffff;
    border: none;
    padding: 0px;
}
